.main {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: relative;
  font-size: 30px;
}

/* .section span {
  display: flex;
  position: relative;
  display: inline-block;
  font-size: inherit;

  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
} */
