.header {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.link {
  margin-left: 10%;
  font-weight: 600;
}

.link:hover {
  transition: all 0.3s ease;
  text-shadow: 0 0 0.01px black;
}

.link:active {
  transition: 3s all ease;
}

.img {
  margin-left: 0;
}

.hamburger {
  margin-left: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  z-index: 3;
  cursor: pointer;
}

.close:hover {
  color: white;
}

.socialContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 835px) {
  .link {
    margin-left: 0;
  }
}
