.header {
  height: 80px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

.link {
  /* margin-left: 10%; */
  font-weight: 600;
}

.link:hover {
  transition: all 0.3s ease;
  text-shadow: 0 0 0.01px black;
}

.link:active {
  transition: 3s all ease;
}

.img {
  margin-left: 0;
}

.hamburger {
  margin-left: 20px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  background: radial-gradient(
    circle,
    hsla(264, 22%, 14%, 1) 0%,
    hsla(266, 11%, 27%, 1) 49%,
    hsla(264, 22%, 14%, 1) 100%
  );
  height: 100vh;
  width: 100vw;
  /* border-radius: 8px; */
  /* padding: 10px 30px; */
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: rgb(188, 187, 187);
  /*   transition: all 2s ease-in-out;
  transform: translateX(-100%); */
}

/* .showMenu {
  transform: translateX(0);
} */

.close {
  position: absolute;
  top: 1.4rem;
  right: 1.2rem;
  width: 2rem;
  height: 2rem;
  z-index: 3;
  cursor: pointer;
}

.close:hover {
  color: white;
}

.socialContainer {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 835px) {
  .link {
    margin-left: 0;
  }
}
